@import "tailwindcss";

@layer utilities {
  /* Ocultar barra de rolagem mas manter funcionalidade */
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@media print {
  body {
    background-color: transparent !important;
    color: black !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .no-print {
    display: none !important;
  }

  header, nav, footer, button {
    display: none !important;
  }

  #printable-plate {
    box-shadow: none !important;
    border: 1px solid #ddd !important;
    margin: 0 auto !important;
    page-break-inside: avoid !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}
